@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
$montserrat: 'Montserrat',
sans-serif;
$roboto:'Roboto',
sans-serif;
$violeta:#572EE5;
$celeste: #50E3C2;
$gris-1: #F3F5F8;
$gris-desktop: #9CAFC3;
$gris-mobile:#6B7989;
//dark mode
$bg-dark: #37383C;
$bg-trending-dark: #222326;
$bg-max: rgba(55,56,60,0.90);
$max-buttons: rgba(255,255,255,0.70);